
{% extends '::baseListes.html.twig' %}

    {% block nav %}
        <a href="#" style="font-size:10px" id="b">Bien</a>
        <a href="#" style="font-size:10px" id="l">Localité</a>
        <a href="#"style="font-size:10px"  id="t">Type</a>
    {% endblock %}

{% block table %}
   <table class="table table-light table-striped table-bordered" id="tab">
       <table head>
           <tr style="background-color: black;color:white">
               <td scope="col">Id Bien</td>
               <td scope="col">Nom Bien</td>
               <td scope="col">Description</td>
               <td scope="col">Localité</td>
               <td scope="col">Type</td>
               <td scope="col" colspan="2">Actions</td>
           </tr>
       </table>


       {% for bien in listeBiens %}
           <tr>
               <td>{{ bien.id }}</td>
               <td>{{ bien.nomBien }}</td>
               <td>{{ bien.descriptionBien }}</td>
               <td>{{ bien.localite.libelleLocalite }}</td>
               <td>{{ bien.typeBien.libelleTypeBien }}</td>
               <td><input name="" value="Détails" class="btn btn-success btn-xs btn-block" type="submit"></td>
               <td><input name="" value="Supprimer" class="btn btn-danger btn-xs btn-block" type="submit"></td>
           </tr>
       {% endfor %}
   </table>
{% endblock %}


