
{% extends '::baseListes.html.twig' %}

    {% block nav %}
        <a href="#" style="font-size:10px" id="b">Bien</a>
        <a href="#" style="font-size:10px" id="l">Localité</a>
        <a href="#"style="font-size:10px"  id="t">Type</a>
    {% endblock %}

    {% block headContent %}
        <tr style="background-color: black;color:white">
            <th scope="col">Id Bien</th>
            <th scope="col">Nom Bien</th>
            <th scope="col">Description</th>
            <th scope="col">Localité</th>
            <th scope="col">Type</th>
            <th scope="col" colspan="2">Actions</th>
        </tr>
    {% endblock %}

    {% block bodyContent %}
        {% for bien in listeBiens %}
            <tr>
                <td>{{ bien.id }}</td>
                <td>{{ bien.nomBien }}</td>
                <td>{{ bien.descriptionBien }}</td>
                <td>{{ bien.localite.libelleLocalite }}</td>
                <td>{{ bien.typeBien.libelleTypeBien }}</td>
                <td><input name="" value="Détails" class="btn btn-success btn-xs btn-block" type="submit"></td>
                <td><input name="" value="Supprimer" class="btn btn-danger btn-xs btn-block" type="submit"></td>

            </tr>
        {% endfor %}
    {% endblock %}
