
{% block body %}

    {% block head %}
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/pgwslider.css') }}" type="text/css">
            <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.css') }}" type="text/css">
        {% endblock %}
    {% endblock %}

    <div class="container">
        <div class="row">
            <ul class="pgwSlider">
                <li>
                    <img rel="icon" type="image/x-icon"  alt="Paris, France" data-description="Eiffel Tower and Champ Mars" src="{{ asset('images/3.jpg')}}"/>
                </li>
                <li>
                    <img rel="icon" type="image/x-icon"  alt="Montréal, QC, Canada" data-description="Eiffel Tower
                    and Champ Mars" src="{{ asset('images/2.jpg')}}"/>
                </li>

                <li>
                    <img rel="icon" type="image/x-icon"  alt="Montréal, QC, Canada" data-description="Eiffel Tower
                    and Champ Mars" src="{{ asset('images/1.jpg')}}"/>
                    <span>Shanghai, China</span>
                </li>

                <li>
                    <img rel="icon" type="image/x-icon"  alt="Montréal, QC, Canada" data-description="Eiffel Tower
                    and Champ Mars" src="{{ asset('images/5.jpg')}}"/>
                    <span>New York, NY, USA</span>
                </li>
            </ul>
        </div>
    </div>

    <div class="row" style="margin-top:30px"></div>
    <center>
        <img rel="icon" type="image/x-icon"  alt="Montréal, QC, Canada" data-description="Eiffel Tower
         and Champ Mars" src="{{ asset('images/reserv.png')}}"/>
        <hr>
    </center>
    </div>

    <div class="row" style="position:absolute;right:100px">
        <div class="col" id="formConn">
            <div class="btn btn-sm btn-success" id="clientConn">Connexion</div>
        </div>
        <div class="col" id="formIns">
            <div class="btn btn-sm btn-success" id="clientIns">Nouveau compte</div>
        </div>
    </div>

    <div class="container-fluid" style="margin-top:60px">
        <!--debut row-->
        <div class="row-md-12">
            <!--debut colonne description-->
            <div class="col-md-5">
                <div class="card">
                    <div class="card-header nom">
                        <h6>Nom du bien :</h6><p>{{ bienChoisi.nomBien }}</p>
                    </div>
                    <div class="card-body desc loc">
                        <h6>Description du bien :</h6><p></p>
                        <h6>Quartier :</h6><p>{{ bienChoisi.localite.libelleLocalite }}</p>
                    </div>
                    <div class="card-footer prix">
                        <h6>Prix de location :</h6><p>{{ bienChoisi.prixLocation }}</p>
                    </div>
                </div>
            </div>
            <!--fin colonne description-->

            <!--colonne marge gauche-->
            <div class="col-md-1"></div>
            <!--Formulaire de résérvation-->
            <div class="col-md-6" style="position:absolute;top:685px;right:3px">
                <div class="card" id="formIns">
                    <div class="card-body">
                            {{form_start(formulaireReservation)}}
                            {{form_label(formulaireReservation.numPiece)}}
                            {{form_widget(formulaireReservation.numPiece, {"attr": {"class": "form-control"}})}}

                            {{form_label(formulaireReservation.nomComplet)}}
                            {{form_widget(formulaireReservation.nomComplet, {"attr": {"class": "form-control"}})}}

                            {{form_label(formulaireReservation.telephone)}}
                            {{form_widget(formulaireReservation.telephone, {"attr": {"class": "form-control"}})}}

                            {{form_label(formulaireReservation.adresse)}}
                            {{form_widget(formulaireReservation.adresse, {"attr": {"class": "form-control"}})}}

                            {{form_label(formulaireReservation.email)}}
                            {{form_widget(formulaireReservation.email, {"attr": {"class": "form-control"}})}}

                            {{form_label(formulaireReservation.motDePasse)}}
                            {{form_widget(formulaireReservation.motDePasse, {"attr": {"class": "form-control"}})}}

                            {{form_label(formulaireReservation.login)}}
                            {{form_widget(formulaireReservation.login, {"attr": {"class": "form-control"}})}}
c +
                            <div class="row" style="margin-top:10px">
                                <div class="col-md-3">
                                    <input type="submit" value="Reserver" name="reservation" class="form-control btn-sm
                                           btn-success">
                                </div>
                                <div class="col-md-3">
                                    <input type="reset" value="Annuler" class="form-control btn-sm btn-danger"></div>
                                </div>
                            </div>
                        {{form_end(formulaireReservation)}}

            <!--Formulaire de connexion-->

                    <form role="form" id="connexion" method="POST" id="connForm">
                        <div class="form-group">
                            <label for="log"><span class=""></span> Login</label>
                            <input type="text" class="form-control" name="log" id="login" placeholder="Login">
                        </div>
                        <div class="form-group">
                            <label for="pw"><span class=""></span>Mot de passe</label>
                            <input type="text" class="form-control" name="psswd" id="pw" placeholder="Mot de passe">
                        </div>
                        <button type="submit" class="btn btn-success" name="connexion"><span
                                    class=""></span>Connexion</button>
                        <button type="reset" class="btn btn-danger"><span class=""></span> Annuler</button>
                    </form>

            <!--fin colonne formulaire-->

        </div>
        <!--fin col-->
        </div>
        <!--fin row-->
        </div>
    <!--fin container-->
    </div>
    </div>


    <!--Inclusions javascript-->
    {% block javascripts %}
        <script type="text/javascript" src="{{ asset('js/jquery.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/pgwslider.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/keurGuiImmo.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/script.js') }}"></script>
    {% endblock %}
{% endblock %}